{% extends "@BiCore/layout.html.twig" %}

{% block javascripts %}
    {{parent()}}
    {{ encore_entry_script_tags('homepage') }}
{% endblock%}

{% block stylesheets %}
    {{parent()}}
    {{ encore_entry_link_tags('battery') }}

{% endblock%}

{% block content %}
    <div id="root" class="row">
        
    </div>
{% endblock %}
