.map {
    width: 100%;
    height:400px;
}
.map-container {
    width: 100%;
    height:250px;
}

.marker {
    width: 25px;
    height: 25px;
    border: 5px solid #088;
    border-radius: 10px;
    background-color: #FF0000;
    opacity: 0.5;
}

#marker {
    width: 25px;
    height: 25px;
    border: 5px solid #088;
    border-radius: 10px;
    background-color: #FF0000;
    opacity: 0.5;
}
#device {
    text-decoration: none;
    color: white;
    font-size: 11pt;
    font-weight: bold;
    text-shadow: black 0.1em 0.1em 0.2em;
}
